.disabled {
  background-color: #ccc;
  pointer-events: none;
}

.error {
  color: red;
  font-size: 13px;
}

.login_button {
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #4e7f14;
  font-size: 16px;
  cursor: pointer;
}


.gotoLink button {
    background: none;
    display: block;
    width: 100%;
    text-align: left;
    color: #4e7f14;
}
.gotoLink button:hover {
    text-decoration: underline;
}